* {
  box-sizing: border-box;
}

body {
  background-color: #294969;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 1.3rem 0 0;
}

/* GAME CONTAINER */
.game-container {
  padding: 1.3rem 1.9rem;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

/* SVG FIGURE */
.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

/* WRONG LETTERS */
.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 1.5rem;
}

/* WORD TO GUESS */
.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.word .letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}
/* GAME CONTAINER END */

/* (WON/LOSS/PLAY-AGAIN) */
.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-container .popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 1.3rem;
  text-align: center;
}

.popup-container .popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 1.3rem;
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
}

.popup-container .popup button:active {
  transform: scale(0.95);
}

.popup-container .popup button:focus {
  outline: none;
}

/* NOTIFICATION FOR USED LETTERS */
.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 1rem 1.4rem;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

/* JS CLASSES */
.notification-container.show {
  transform: translateY(-50px);
}
